<div class="forms">
  <%= form_with(model: collection) do |form| %>
  <% if collection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(collection.errors.count, "error") %> prohibited this collection from being saved:</h2>

      <ul>
        <% collection.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p class="p_form">Название подборки</p>
    <%= form.text_field :name , placeholder: "Введите название"%>
  </div>

  <div class="field photo_form">
    <p class="p_form ">Обложка подборки</p>
    <%= form.file_field :cover %>
  </div>

  <div class="field photo_form">
    <p class="p_form ">Горизонтальная обложка</p>
    <%= form.file_field :coverg %>
  </div>

  <div class="field">
    <p class="p_form">Описание подборки</p>
    <%= form.text_area :description %>
  </div>

  <div class="actions button_form">
    <%= form.submit "Сохранить" %>
  </div>


<% end %>
</div>
