<div class="colectionshow_block">
  <%= image_tag(@collection.cover.url, alt: 'Image') if @collection.cover? %>
  <div class="colection_desc">
    <div class="">
      <h1 class=""><%= @collection.name %></h1>
      <p ><%= @collection.description %></p>
    </div>

    <div class="colection_desc_bottom">
      <p>5 артистов &nbsp; &nbsp; &nbsp;| &nbsp; &nbsp; &nbsp;  8 статей</p>
      <div class="share">
        <%= image_tag("ShareIcon.svg")%>
        <p>Поделиться</p>
      </div>

    </div>


  </div>

</div>

<%= react_component 'O_AllArtists', { artists: @artists }  %>

<%= react_component 'O_AllArticles', { posts: @posts, filtertags: @filtertags, artists: @artists }  %>








<div class="user_link_edit filtertag_link_edit">

  <% if user_signed_in? && current_user.isadmin == true %>
    <div class="filtertag_link_edit_item filtertag_extra">
      <%= link_to image_tag('edit.svg'), edit_collection_path(@collection) %>
      <p>
        <%= link_to 'Редактировать', edit_collection_path(@collection), :class =>"link_new link_new_user" %>
      </p>
    </div>
    <div class="filtertag_link_edit_item">
      <%= link_to image_tag('destroy.svg'), @collection, method: :delete, data: { confirm: 'Are you sure?' }%>
      <p>
        <%= link_to 'Удалить', @collection, method: :delete, data: { confirm: 'Are you sure?' }, :class =>"link_new link_new_user" %>
      </p>
    </div>

  <% end %>
</div>



<%= react_component 'O_Footer'  %>
