<% set_meta_tags title: @collection.name, description: @collection.description%>

<% if user_signed_in? && current_user.isadmin == true %>
  <%= react_component('O_HeaderAdmin', current_user: current_user)  %>
<% else %>
<%= react_component('O_Header', current_user: current_user)  %>
<% end %>
<div class="header_lines_collections">
  <%= link_to image_tag('header_lines.svg')%>
</div>

<h3>
  <%= @collection.name %>
</h3>

<div class="colectionshow_block">
  <%= image_tag(@collection.coverg.url, alt: 'Image') if @collection.coverg? %>
  <div class="colection_desc">
      <p><%= @collection.description %></p>
      <div class="share_button share_button_alone">
        <%= link_to image_tag('share.svg') %>
        <%= button_to 'Поделиться подборкой' %>
      </div>
  </div>

</div>

<%= react_component 'O_AllArtists', { artists: @artists }  %>

<h3 class="titleincollection">Статьи</h3>

<%= react_component 'O_AllArticlesinCollection', { posts: @posts, filtertags: @filtertags, artists: @artists }  %>









<div class="extralittle"></div>

<%= react_component 'O_Footer'  %>
