<div class="forms">
  <%= form_with(model: artist) do |form|%>
  <% if artist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(artist.errors.count, "error") %> prohibited this artist from being saved:</h2>

      <ul>
        <% artist.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h2 class="h2form">Общая информация</h2>
  <div class="field">
    <p class="p_form">Имя артиста</p>
    <%= form.text_field :name , placeholder: "Введите имя"%>
  </div>

  <div class="field fieldfile">
    <p class="p_form ">Фото артиста</p>
  	<%= form.file_field :artistphoto %>
  </div>

  <div class="field">
    <p class="p_form">Пол артиста</p>
    <%= form.select :sex, ['Мужcкой', 'Женский', 'Вне гендера']%>
  </div>

  <div class="field">
    <p class="p_form">Возраст артиста</p>
    <%= form.text_field :age , placeholder: "Введите возраст артиста"%>
  </div>

  <div class="field">
    <p class="p_form">Жанры артиста</p>
    <%= form.select :genre, ['Хип–хоп', 'Поп', 'Рок','Электро', 'Джаз', 'Народная', 'Классика', 'Шансон', 'Танцевальная']%>
  </div>

  <div class="field">
    <p class="p_form">Жанры артиста</p>
    <%= form.select :style, ['Эксперименты', 'Романтика', 'Рэтро','Гламур', 'Спорт', 'Кэжуал', 'Классика']%>
  </div>

  <div class="field">
    <p class="p_form">Соцсети артиста</p>
    <%= form.text_field :wiki, :class =>"social_link_form social_link_form2", placeholder: "Вставьте ссылку на википедию" %>
  	<%= form.text_field :instagram, :class =>"social_link_form social_link_form2", placeholder: "Вставьте ссылку на спотифай" %>
    <%= form.text_field :youtube, :class =>"social_link_form social_link_form2", placeholder: "Вставьте ссылку на ютуб" %>
    <%= form.text_field :spotify, :class =>"social_link_form social_link_form1", placeholder: "Вставьте ссылку на genius" %>

  </div>




  <h2 class="h2_form h2form">Информация о стиле</h2>




  <div class="field">
    <p class="p_form">Выберите любимый бренд</p>
    <%= form.select :brand_id, Brand.pluck(:name, :id) %>
  </div>

  <div class="field">
    <p class="p_form">Выберите подборку</p>
      <%= form.select :collection_id, Collection.pluck(:name, :id) %>
  </div>



  <div class="actions">
    <%= form.submit "Сохранить" %>
  </div>
<% end %>
</div>
