<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @artist.name %>
</p>

<%= image_tag(@artist.artistphoto.url, alt: 'Image') if @artist.artistphoto? %>

<p>
  <strong>Sex:</strong>
  <%= @artist.sex %>
</p>

<p>
  <strong>Age:</strong>
  <%= @artist.age %>
</p>

<p>
  <strong>Filtertag:</strong>
  <%= @artist.filtertag.name %>
</p>

<p>
  <strong>Style:</strong>
  <%= @artist.style.name %>
</p>

<p>
  <strong>Brand like:</strong>
  <%= @artist.brand.name %>
</p>

<% @posts.each do |post| %>
  <p>
    <%= link_to post.title, post %>
  </p>
<% end %>

<% @cloths.each do |cloth| %>
  <p>
    <%= link_to cloth.name, cloth %>
  </p>
<% end %>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
