<%= react_component('O_Header', current_user: current_user)  %>

<div class="nameandicons">
  <h3>
    <%= @artist.name %>
  </h3>
  <div class="icons">
    <%= link_to image_tag('wiki.svg'), @artist.wiki, :target => "_blank" %>
    <%= link_to image_tag('spotify.svg'), @artist.spotify, :target => "_blank" %>
    <%= link_to image_tag('youtube.svg'), @artist.youtube, :target => "_blank" %>
    <%= link_to image_tag('genius.svg'), @artist.instagram, :target => "_blank" %>
  </div>
</div>


<div class="artist_block">
  <div class="artistphoto" style="background-image: url(<%= @artist.artistphoto.url if @artist.artistphoto? %>)"></div>
  <div class="artist_info">
        <div class="artist_info_item">
          <div class="artist_info_line"></div>
          <p>Музыкальный жанр:</p>
          <p><%= @artist.genre %></p>
        </div>

        <div class="artist_info_item artist_info_item2">
          <div class="artist_info_line"></div>
          <p>Стиль одежды:</p>
          <p><%= @artist.style %></p>
        </div>

        <div class="artist_info_item artist_info_item3">
          <div class="artist_info_line"></div>
          <p>Любимые бренды:</p>
          <p><%= @artist.brand.name %><p>
        </div>
  </div>

</div>


<div class="">

  <% if user_signed_in? && current_user.isadmin == true %>
    <div class="filtertag_link_edit_item filtertag_extra">
      <%= link_to image_tag('edit.svg'), edit_artist_path(@artist) %>
      <p>
        <%= link_to 'Редактировать', edit_artist_path(@artist), :class =>"link_new link_new_user" %>
      </p>
    </div>
    <div class="filtertag_link_edit_item">
      <%= link_to image_tag('delete.svg'), @artist, method: :delete, data: { confirm: 'Are you sure?' }%>
      <p>
        <%= link_to 'Удалить', @artist, method: :delete, data: { confirm: 'Are you sure?' }, :class =>"link_new link_new_user" %>
      </p>
    </div>

  <% end %>
</div>


<h3 class="titleinartist">Образы</h3>
<%= react_component 'O_AllLooksArtist', { looks: @looks, filtertags: @filtertags, artists: @artists}  %>

<h3 class="titleinartist">Статьи</h3>
<%= react_component 'O_AllArticlesinCollection', { posts: @posts, filtertags: @filtertags, artists: @artists }  %>

<div class="extrasmall2"></div>




<%= react_component 'O_Footer'  %>
