

<div class="">

  <div class="">
    <%= image_tag(@artist.artistphoto.url, alt: 'Image') if @artist.artistphoto? %>
  </div>

  <div class="">
    <div class="">
      <p>
        <strong>Name:</strong>
        <%= @artist.name %>
      </p>
      <p>
      	<strong>Инстаграм:</strong>
        <%= link_to image_tag('instagram.svg'), @artist.instagram, :target => "_blank" %>
      </p>
      <p>
      	<strong>Ютуб:</strong>
        <%= link_to image_tag('youtube.svg'), @artist.youtube, :target => "_blank" %>
      </p>
      <p>
      	<strong>Спотифай:</strong>
        <%= link_to image_tag('spotify.svg'), @artist.spotify, :target => "_blank" %>
      </p>
    </div>

    <p>
      <strong>Фильтр:</strong>
      <%= @artist.filtertag.name %>
    </p>
    <p>
      <strong>Стиль одежды:</strong>
      <%= @artist.style.name %>
    </p>
    <p>
      <strong>Любимые бренды:</strong>
      <%= @artist.brand.name %>
    </p>

  </div>
</div>





<p>
  <strong>Пол:</strong>
  <%= @artist.sex %>
</p>

<p>
  <strong>Возраст:</strong>
  <%= @artist.age %>
</p>





<p>
	<strong>Жанр:</strong>
	<%= @artist.genre %>
</p>



<% if user_signed_in? %>

  <% pre_artistfavorite = @artist.artistfavorites.find { |artistfavorite| artistfavorite.user_id == current_user.id} %>
  <% if pre_artistfavorite %>
      <%= button_to 'Remove from Artistfavorite', artist_artistfavorite_path(@artist, pre_artistfavorite), method: :delete %>
  <% else %>
      <%= button_to 'Add to Artistfavorite', artist_artistfavorites_path(@artist), method: :artist %>
  <% end %>

<% end %>

<% @posts.each do |post| %>
  <p>
    <%= link_to post.title, post %>
  </p>
<% end %>

<% @cloths.each do |cloth| %>
  <p>
    <%= link_to cloth.name, cloth %>
  </p>
<% end %>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
