<% set_meta_tags title: 'Образы артистов', description: 'Аутфиты популярных артистов'%>
<% set_meta_tags og: {
    title: ['Образы артистов']
}  %>



<div class="index_handb">
</div>





<% if user_signed_in? && current_user.isadmin == true %>
    <%= react_component('O_HeaderAdmin', current_user: current_user)  %>
    <div class="titleadminblock">
      <h1 class="titleadmin">Образы</h1>
      <%= link_to 'Создать', new_look_path, :class =>"link_newpost", :class =>"link_new" %>
    </div>

    <%= react_component 'O_AllLooksAdmin', { looks: @lookcoms, filtertags: @filtertags, artists: @artists}  %>
<% else %>
  <%= react_component('O_Header', current_user: current_user)  %>
  <div class="header_lines_looks">
    <%= link_to image_tag('header_lines_looks.svg')%>
  </div>
  <h1>Найти свою особенность</h1>

  <%= react_component 'O_AllLooks', { looks: @lookcoms, filtertags: @filtertags, artists: @artists}  %>
<% end %>


<%= react_component 'O_Footer'  %>
