<p id="notice"><%= notice %></p>



<%= image_tag(@look.image.url, alt: 'Image') if @look.image? %>

<p>
  <strong>Артист:</strong>
  <%= @look.artist.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @look.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @look.content %>
</p>

<p>
  <strong>Фильтр</strong>
  <%= @look.filtertag.name %>
</p>

<p>
  <strong>Статья</strong>
  <%= @look.post.title %>
</p>

<% if user_signed_in? %>

  <% pre_lookfavorite = @look.lookfavorites.find { |lookfavorite| lookfavorite.user_id == current_user.id} %>
  <% if pre_lookfavorite %>
      <%= button_to 'Удалить из избранного', look_lookfavorite_path(@look, pre_lookfavorite), method: :delete %>
  <% else %>
      <%= button_to 'В избранное', look_lookfavorites_path(@look), method: :look %>
  <% end %>

<% end %>

<%= link_to 'Edit', edit_look_path(@look) %> |
<%= link_to 'Back', looks_path %>


<h1 class="h1_postsinartist">Одежда в образе</h1>
<div>
  <% @cloths.each do |cloth| %>
    <div class="posts_inartist_item">
      <%= link_to image_tag(cloth.clothimage.thumb.url), cloth if cloth.clothimage? %>
      <div class="posts_inartist_bottom">
        <p class="posttitle_inartist">
          <%= link_to cloth.name, cloth %>
        </p>
        <%= link_to image_tag('show.svg'), cloth %>
      </div>


    </div>

  <% end %>
</div>
