<div class="artist_content">
  <%= link_to image_tag('back.svg'), users_path %>
  <div class="artist_photo">
    <%= image_tag(@user.avatar.url, alt: 'Image') if @user.avatar? %>
  </div>

  <div class="artist_info user_info_block">

    <p class="user_info">
      <strong class="font24">Номер:</strong>
      <%= @user.id %>
    </p>
    <p class="user_info">
      <strong class="font24">Email:</strong>
      <%= @user.email %>
    </p>
    <p class="user_info">
      <strong class="font24">Никнейм:</strong>
      <%= @user.username %>
    </p>

    <% if user_signed_in? && current_user.isadmin == true %>
      <p class="user_info">
        <strong class="font24">Права администратора:</strong>
        <%= @user.isadmin %>

    <% end %>



  </div>
</div>

<div class="user_link_edit filtertag_link_edit">

  <% if user_signed_in? && @user.id == current_user.id || current_user.isadmin == true %>
    <div class="filtertag_link_edit_item filtertag_extra">
      <%= link_to image_tag('edit.svg'), edit_user_registration_path %>
      <p>
        <%= link_to 'Редактировать', edit_user_registration_path, :class =>"link_new link_new_user" %>
      </p>
    </div>


  <% end %>
</div>



<h1 class="h1_postsinartist">Избранные посты</h1>
<div class="posts_inartist">
  <% @posts.each do |post| %>
    <div class="posts_inartist_item">
      <%= link_to image_tag(post.fimage.thumb.url), post if post.fimage? %>
      <div class="posts_inartist_bottom">
        <p class="posttitle_inartist">
          <%= link_to post.title, post %>
        </p>
        <%= link_to image_tag('show.svg'), post %>
      </div>


    </div>

  <% end %>
</div>

<h1 class="h1_postsinartist">Избранные образы</h1>
<div class="posts_inartist">
  <% @looks.each do |look| %>
    <div class="posts_inartist_item">
      <%= link_to image_tag(look.image.url), look if look.image? %>
      <div class="posts_inartist_bottom">
        <p class="posttitle_inartist">
          <%= link_to look.title, look %>
        </p>
        <%= link_to image_tag('show.svg'), look %>
      </div>


    </div>

  <% end %>
</div>

<h1 class="h1_postsinartist">Избранные вещи</h1>
<div class="posts_inartist">
  <% @cloths.each do |cloth| %>
    <div class="posts_inartist_item">
      <%= link_to image_tag(cloth.clothimage.url), cloth if cloth.clothimage? %>
      <div class="posts_inartist_bottom">
        <p class="posttitle_inartist">
          <%= link_to cloth.name, cloth %>
        </p>
        <%= link_to image_tag('show.svg'), cloth %>
      </div>


    </div>

  <% end %>
</div>




<%= render "promo/futer" %>
