<%= form_with(model: style) do |form| %>
  <% if style.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(style.errors.count, "error") %> prohibited this style from being saved:</h2>

      <ul>
        <% style.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p class="p_form">Название стиля</p>
    <%= form.text_field :name , placeholder: "Введите название"%>
  </div>

  <div class="actions button_form">
    <%= form.submit "Сохранить" %>
  </div>


<% end %>
