<p id="notice"><%= notice %></p>
<%= render "promo/navbar" %>

<h3 class="h3_titlepost">Артисты</h3>

<table>
  <thead>
    <tr>
      <!-- <th>Имя артиста</th>
      <th>Фото</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="posts">
    <% @posts.each do |post| %>
      <tr class="posts_item">
        <td><%= image_tag(post.image.thumb.url, alt: 'Image')%></td>
        <td class="artist_name"><%= post.name %></td>

        <td>
          <%= link_to 'Читать', post, :class =>"link" %>
          <%= link_to 'Удалить', post, method: :delete, data: { confirm: 'Are you sure?' }, :class =>"link" %>

          <%= link_to 'Изменить', edit_post_path(post), :class =>"link" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Добавить артиста', new_post_path, :class =>"link_newpost" %>
<div class="post_extra"></div>
<%= render "promo/futer" %>
