

<h3>Посты</h3>

<% Style.all.each do |style| %>
<%= link_to style.name, posts_path(style: style.name) %>|
<% end %>

<hr>
<% Brand.all.each do |brand| %>
<%= link_to brand.name, posts_path(brand: brand.name) %>|
<% end %>

<hr>
<% Type.all.each do |type| %>
<%= link_to type.name, posts_path(type: type.name) %>|
<% end %>

<table>
  <thead>
    <tr>
      <!-- <th>Имя артиста</th>
      <th>Фото</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody >
    <% @posts.each do |post| %>
      <tr class="posts_item">
        <td><%= post.title %></td>
        <td><%= post.artist.name %></td>

        <td>
          <%= link_to 'Читать', post, :class =>"link" %>
          <%= link_to 'Удалить', post, method: :delete, data: { confirm: 'Are you sure?' }, :class =>"link" %>

          <%= link_to 'Изменить', edit_post_path(post), :class =>"link" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>



<%= link_to 'Добавить пост', new_post_path, :class =>"link_newpost" %>
<div class="post_extra"></div>
<%= render "promo/futer" %>
