<div class="index_handb">
  <% if user_signed_in? && current_user.isadmin == true %>
  <%= link_to 'Создать', new_post_path, :class =>"link_newpost", :class =>"link_new" %>
    <% end %>
</div>
<%= react_component 'O_ArticlesBanner', { posts: @postcoms, filtertags: @filtertags, artists: @artists }  %>
<div class="switch">
  <%= image_tag("switch.svg")%>

</div>

<div class="filter ">
<% Filtertag.all.each do |filtertag| %>
  <%= link_to filtertag.name, posts_path(filtertag: filtertag.id) %>
  <% end %>
</div>


<%= react_component 'O_AllArticles', { posts: @postcoms, filtertags: @filtertags, artists: @artists }  %>
<%= react_component 'O_Footer'  %>
