

<p class="content_title">
  <%= @post.title %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @post.artist.name %>
</p>

<p>
  <strong>Style:</strong>
  <%= @post.style.name %>
</p>

<p>
  <strong>Коллаб:</strong>
  <%= @post.brand.name %>
</p>

<p>
  <strong>Тип:</strong>
  <%= @post.type.name %>
</p>

<p class="content_text">
  <strong>Текст статьи:</strong>
  <%= @post.content %>
</p>

<%= link_to 'Изменить', edit_post_path(@post), :class =>"link_newpost link_newpost_edit" %> |
<%= link_to 'Назад', posts_path, :class =>"link_newpost link_newpost_back" %>
<div class="post_extra"></div>
<%= render "promo/futer" %>
