<div class="artist_content">

  <%= link_to image_tag('back.svg'), posts_path %>
  <div class="post_info">
    <p class="post_artistname">

      <%= @post.artist.name %>
    </p>

    <h1 class="post_title">
      <%= @post.title %>
    </h1>

    <p class="post_text">
      <%= @post.content.html_safe %>
    </p>

  </div>
</div>


<div class="post_images">
  <%= image_tag(@post.fimage.url, alt: 'Image') if @post.fimage? %>
  <%= image_tag(@post.simage.url, alt: 'Image') if @post.simage? %>
  <%= image_tag(@post.timage.url, alt: 'Image') if @post.timage? %>
</div>

<p>
  <strong>Фильтр-тэг</strong>
  <%= @post.filtertag.name %>
</p>


  <% if user_signed_in? %>

    <% pre_favorite = @post.favorites.find { |favorite| favorite.user_id == current_user.id} %>
    <% if pre_favorite %>
        <%= button_to 'Удалить из избранного', post_favorite_path(@post, pre_favorite), method: :delete %>
    <% else %>
        <%= button_to 'В избранное', post_favorites_path(@post), method: :post %>
    <% end %>

  <% end %>


</div>

<div class="user_link_edit filtertag_link_edit">

  <% if user_signed_in? && current_user.isadmin == true %>
    <div class="filtertag_link_edit_item filtertag_extra">
      <%= link_to image_tag('edit.svg'), edit_post_path(@post) %>
      <p>
        <%= link_to 'Редактировать', edit_post_path(@post), :class =>"link_new link_new_user" %>
      </p>
    </div>
    <div class="filtertag_link_edit_item">
      <%= link_to image_tag('destroy.svg'), @post, method: :delete, data: { confirm: 'Are you sure?' }%>
      <p>
        <%= link_to 'Удалить', @post, method: :delete, data: { confirm: 'Are you sure?' }, :class =>"link_new link_new_user" %>
      </p>
    </div>

  <% end %>
</div>


<h1 class="h1_postsinartist">Образы  по теме</h1>
<div class="posts_inartist">
  <% @looks.each do |look| %>
    <div class="posts_inartist_item">
      <%= link_to image_tag(look.image.url), look if look.image? %>
      <div class="posts_inartist_bottom">
        <p class="posttitle_inartist">
          <%= link_to look.title, look %>
        </p>
        <%= link_to image_tag('show.svg'), look %>
      </div>


    </div>

  <% end %>
</div>




<%= render "promo/futer" %>
