<% set_meta_tags title: @post.title, description: @post.filtertag.name%>

<% if user_signed_in? && current_user.isadmin == true %>
  <%= react_component('O_HeaderAdmin', current_user: current_user)  %>
<% else %>
  <%= react_component('O_Header', current_user: current_user)  %>
<% end %>


<div class="header_lines_posts">
  <%= link_to image_tag('header_lines_posts.svg')%>
</div>

<h3>
  <%= @post.title %>
</h3>

<div class="post_info">

    <%= @post.content.html_safe %>

</div>







<div class="look_buttons post_buttons">
  <% if user_signed_in? %>
    <% pre_favorite = @post.favorites.find { |favorite| favorite.user_id == current_user.id} %>
    <% if pre_favorite %>
        <div class="favotite_button favotite_button2">
          <%= link_to image_tag('likeon.svg'), post_favorite_path(@post, pre_favorite), method: :delete %>
          <%= button_to 'Удалить из избранного', post_favorite_path(@post, pre_favorite), method: :delete %>
        </div>
    <% else %>
        <div class="favotite_button">
          <%= link_to image_tag('like.svg'), post_favorites_path(@post), method: :post %>
          <%= button_to 'Сохранить статью', post_favorites_path(@post), method: :post %>
        </div>
    <% end %>

  <% end %>
  <div class="share_button">
    <%= link_to image_tag('share.svg') %>
    <%= button_to 'Поделиться образом' %>
  </div>
  <%= react_component 'A_ArtistAvatar', {artist: @artists}  %>

</div>


<div class="">

  <% if user_signed_in? && current_user.isadmin == true %>
    <div class="filtertag_link_edit_item filtertag_extra">
      <%= link_to image_tag('edit.svg'), edit_post_path(@post) %>
      <p>
        <%= link_to 'Редактировать', edit_post_path(@post), :class =>"link_new link_new_user" %>
      </p>
    </div>
    <div class="filtertag_link_edit_item">
      <%= link_to image_tag('delete.svg'), @post, method: :delete, data: { confirm: 'Are you sure?' }%>
      <p>
        <%= link_to 'Удалить', @post, method: :delete, data: { confirm: 'Are you sure?' }, :class =>"link_new link_new_user" %>
      </p>
    </div>

  <% end %>
</div>

<div class="footer_lines_posts">
  <%= link_to image_tag('lines_post.svg')%>
</div>

<h3 class="titleinpost">Другие наши статьи</h3>

<%# <%= react_component 'O_AllArticlesinCollection', { posts: @posts, filtertags: @filtertags, artists: @artists }  %> %>

<%= react_component 'O_Footer'  %>
