<%= form_with(model: cloth) do |form| %>
  <% if cloth.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cloth.errors.count, "error") %> prohibited this cloth from being saved:</h2>

      <ul>
        <% cloth.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p class="p_form">Название предмета одежды</p>
    <%= form.text_field :name , placeholder: "Введите название"%>
  </div>

  <div class="field">
    <p class="p_form">Бренд одежды</p>
    <%= form.select :brand_id, Brand.pluck(:name, :id) %>
  </div>

  <div class="field">
    <p class="p_form">Образ</p>
    <%= form.select :look_id, Look.pluck(:title, :id) %>
  </div>

  <div class="field photo_form">
    <p class="p_form ">Фото</p>
    <%= form.file_field :clothimage %>
  </div>

  <div class="field">
    <p class="p_form">Ссылка на вещь</p>
    <%= form.text_field :link, placeholder: "Введите ссылку" %>
  </div>

  <div class="actions button_form">
    <%= form.submit "Сохранить" %>
  </div>



<% end %>
