<% set_meta_tags title: 'Одежда из образов', description: 'Одежда из образов популярных артистов'%>
<% set_meta_tags og: {
    title: ['Одежда из образов']
}  %>



<div class="index_handb">
</div>

<% if user_signed_in? && current_user.isadmin == true %>
    <%= react_component('O_HeaderAdmin', current_user: current_user)  %>
    <div class="titleadminblock">
      <h1 class="titleadmin">Одежда</h1>
      <%= link_to 'Создать', new_cloth_path, :class =>"link_newpost", :class =>"link_new" %>
    </div>

    <%= react_component 'O_AllClothAdmin', { cloths: @clothcoms, looks: @looks}  %>
<% else %>
  <%= react_component('O_Header', current_user: current_user)  %>
<% end %>

<%= react_component 'O_Footer'  %>
