<%= react_component('O_HeaderAdmin', current_user: current_user)  %>

<h3>
  <%= @cloth.name %>
</h3>


<div class="clothshow">
  <%= image_tag(@cloth.clothimage.url, alt: 'Image') if @cloth.clothimage? %>

  <div class="clothshowtext">
    <div class="strong_title">
      <p class="font24">Образ:</p>
      <p><%= @cloth.look.title %></p>
    </div>
    <div class="strong_title">
      <p class="font24">Бренд:</p>
      <p><%= @cloth.brand.name %></p>
    </div>
    <div class="clothshowbuttons">
      <div class="clothshowbutton">
        <%= link_to image_tag('edit.svg'), edit_cloth_path(@cloth) %>
        <p>
          <%= link_to 'Редактировать', edit_cloth_path(@cloth), :class =>"" %>
        </p>
      </div>
      <div class="clothshowbutton">
        <%= link_to image_tag('delete.svg'), @cloth, method: :delete, data: { confirm: 'Are you sure?' }%>
        <p>
          <%= link_to 'Удалить', @cloth, method: :delete, data: { confirm: 'Are you sure?' }, :class =>"" %>
        </p>
      </div>
    </div>


  </div>
</div>


<div class="extrasmall"></div>



<%= react_component 'O_Footer'  %>
