<!DOCTYPE html>
<html>
  <head>
    <title>FlavaPrj</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <%= notice %>
    <% end %>
    <div class="sidebar">
      <ul>
        <li><%= link_to "Артисты", artists_path %></li>
        <li><%= link_to "Статьи", posts_path %></li>
        <li>Подборки</li>
        <li>Люди</li>
      </ul>

      <ul>
        <li><%= link_to "Фильтры", filtertags_path %></li>
        <li><%= link_to "Стили", styles_path %></li>
        <li><%= link_to "Бренды", brands_path %></li>
        <li><%= link_to "Типы статей", types_path %></li>
        <li><%= link_to "Предметы одежды", cloths_path %></li>
      </ul>
    </div>

    <div class="menubar">
      <a href="#"><%= image_tag("logo.svg") %></a>
      <a href="#" ><div class="profile"></div></a>
    </div>

    <%= yield %>
  </body>
</html>
