<!DOCTYPE html>
<%= javascript_include_tag Ckeditor.cdn_url %>
<html>
  <head>
    <title>FlavaPrj</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% elsif alert %>
    <p class="alert"><%= alert %></p>
  <% end %>
  <body>





  <%= react_component 'O_Header', {current_user: current_user}%>
  <%= react_component 'M_SectionSwitcher' %>



    <%= yield %>

  </body>
</html>
