<!DOCTYPE html>
<%= javascript_include_tag Ckeditor.cdn_url %>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= display_meta_tags(default_meta_tags) %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% elsif alert %>
    <p class="alert"><%= alert %></p>
  <% end %>
  <body>


    <% if user_signed_in? && current_user.isadmin == true %>
      <%= react_component 'M_Sidebar'  %>

    <% end %>







    <%= yield %>

  </body>
</html>
