<!DOCTYPE html>
<html>
  <head>
    <title>FlavaPrj</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% elsif alert %>
    <p class="alert"><%= alert %></p>
  <% end %>
  <body>

    <div class="sidebar">
      <ul class="ul1">
        <li><%= link_to "Артисты", artists_path %></li>
        <li><%= link_to "Статьи", posts_path %></li>
        <li><%= link_to "Подборки", collections_path %></li>
        <li><%= link_to "Люди", users_path %></li>
      </ul>

      <ul class="ul2">
        <li><%= link_to "Фильтры", filtertags_path %></li>
        <li><%= link_to "Стили", styles_path %></li>
        <li><%= link_to "Бренды", brands_path %></li>
        <li><%= link_to "Категории статей", types_path %></li>
        <li><%= link_to "Предметы одежды", cloths_path %></li>
      </ul>
    </div>

    <div class="menubar">
      <%= image_tag("logo.svg") %>
      <div class="menubar_left">
        <% if user_signed_in? %>
            <%= link_to 'Выйти', destroy_user_session_path, method: :delete, :class =>"link_new" %>

            <%= link_to(image_tag(current_user.avatar.thumb.url, alt: 'Image'), current_user) if current_user.avatar? %>
            <%# <%= link_to(current_user.avatar? image_tag(current_user.avatar.thumb.url) : image_tag('avatar.svg'), current_user) %> %>
            <!-- @user.reviews.each do |r|
  a href="#"
    = avatar r.user -->
        <% else %>
          <%= link_to 'Войти', new_user_session_path, :class =>"link_new" %> | <%= link_to 'Регистрация', new_user_registration_path, :class =>"link_new" %>
        <% end %>
      </div>


    </div>

    <%= yield %>
  </body>
</html>
